/*
1.  Reset CSS
2.  Global CSS
3.  Header CSS
4.  Navigation CSS
5.  Services
6.  About CSS
7.  Vision CSS
8.  FastFood CSS
9.  Latestnews CSS
10. Customer CSS
11. Contact CSS
12. Footer CSS
13. Tooltip CSS
*/
/*----------------------------1. Reset----------------------------*/
/**
 * html5doctor.com Reset Stylesheet v1.6.1 (http://html5doctor.com/html-5-reset-stylesheet/)
 * Richard Clark (http://richclarkdesign.com)
 * http://cssreset.com
 */
 html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent
}

body {
  line-height:1
}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
  display:block
}

nav ul {
  list-style:none
}

blockquote,q {
  quotes:none
}

blockquote:before,blockquote:after,q:before,q:after {
  content:'';
  content:none
}

a {
  margin:0;
  padding:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent
}

/* change colours to suit your needs */
ins {
  background-color:#ff9;
  color:#000;
  text-decoration:none
}

/* change colours to suit your needs */
mark {
  background-color:#ff9;
  color:#000;
  font-style:italic;
  font-weight:700
}

del{
  text-decoration:line-through
}

abbr[title],dfn[title] {
  border-bottom:1px dotted;
  cursor:help
}

table {
  border-collapse:collapse;
  border-spacing:0
}

/* change border colour to suit your needs */
hr {
  display:block;
  height:1px;
  border:0;
  border-top:1px solid #ccc;
  margin:1em 0;
  padding:0
}

input,select {
  vertical-align:middle
}

* {
  box-sizing:border-box;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box
}

img {
max-width: 100%
}

li {
list-style: none
}

:focus {
outline: 0
}

a {
text-decoration: none;
-webkit-transition: all .3s ease-out;
-moz-transition: all .3s ease-out;
-ms-transition: all .3s ease-out;
-o-transition: all .3s ease-out;
transition: all .3s ease-out
}

a:hover,
a:focus,
a:visited,
a:active {
text-decoration: none
}
/*----------------------------------------------------*/
/*font Variables*/
/*Color Variables*/
/*=================== fonts ====================*/
@import url("https://fonts.googleapis.com/css?family=Oswald:300, 500, 700");
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900");
/*---------------------------------------------------- */
/*----------------------------------------------------*/


@font-face {
font-family: vazir;
font-style: normal;
font-weight: 900;
src: url('../fonts/eot/Vazir-Black-FD.eot');
src: url('../fonts/eot/Vazir-Black-FD.eot?#iefix') format('embedded-opentype'),
  /* IE6-8 */
url('../fonts/woff2/Vazir-Black-FD.woff2') format('woff2'),
  /* FF39+,Chrome36+, Opera24+*/
url('../fonts/woff/Vazir-Black-FD.woff') format('woff'),
  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
url('../fonts/ttf/Vazir-Black-FD.ttf') format('truetype');
}

@font-face {
font-family: vazir;
font-style: normal;
font-weight: bold;
src: url('../fonts/eot/Vazir-Bold-FD.eot');
src: url('../fonts/eot/Vazir-Bold-FD.eot?#iefix') format('embedded-opentype'),
  /* IE6-8 */
url('../fonts/woff2/Vazir-Bold-FD.woff2') format('woff2'),
  /* FF39+,Chrome36+, Opera24+*/
url('../fonts/woff/Vazir-Bold-FD.woff') format('woff'),
  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
url('../fonts/ttf/Vazir-Bold-FD.ttf') format('truetype');
}

@font-face {
font-family: vazir;
font-style: normal;
font-weight: 500;
src: url('../fonts/eot/Vazir-Medium-FD.eot');
src: url('../fonts/eot/Vazir-Medium-FD.eot?#iefix') format('embedded-opentype'),
  /* IE6-8 */
url('../fonts/woff2/Vazir-Medium-FD.woff2') format('woff2'),
  /* FF39+,Chrome36+, Opera24+*/
url('../fonts/woff/Vazir-Medium-FD.woff') format('woff'),
  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
url('../fonts/ttf/Vazir-Medium-FD.ttf') format('truetype');
}

@font-face {
font-family: vazir;
font-style: normal;
font-weight: 300;
src: url('../fonts/eot/Vazir-Light-FD.eot');
src: url('../fonts/eot/Vazir-Light-FD.eot?#iefix') format('embedded-opentype'),
  /* IE6-8 */
url('../fonts/woff2/Vazir-Light-FD.woff2') format('woff2'),
  /* FF39+,Chrome36+, Opera24+*/
url('../fonts/woff/Vazir-Light-FD.woff') format('woff'),
  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
url('../fonts/ttf/Vazir-Light-FD.ttf') format('truetype');
}

@font-face {
font-family: vazir;
font-style: normal;
font-weight: 200;
src: url('../fonts/eot/Vazir-Light-FD.eot');
src: url('../fonts/eot/Vazir-Light-FD.eot?#iefix') format('embedded-opentype'),
  /* IE6-8 */
url('../fonts/woff2/Vazir-Light-FD.woff2') format('woff2'),
  /* FF39+,Chrome36+, Opera24+*/
url('../fonts/woff/Vazir-Light-FD.woff') format('woff'),
  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
url('../fonts/ttf/Vazir-Light-FD.ttf') format('truetype');
}

@font-face {
font-family: vazir;
font-style: normal;
font-weight: normal;
src: url('../fonts/eot/Vazir-FD.eot');
src: url('../fonts/eot/Vazir-FD.eot?#iefix') format('embedded-opentype'),
  /* IE6-8 */
url('../fonts/woff2/Vazir-FD.woff2') format('woff2'),
  /* FF39+,Chrome36+, Opera24+*/
url('../fonts/woff/Vazir-FD.woff') format('woff'),
  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
url('../fonts/ttf/Vazir-FD.ttf') format('truetype');
}


body{
font-family: vazir !important;
}

/*      Start My Style     */
.container{
height: 100vh;
display: flex;
justify-content: center;
align-items: center;
}
.calculator{
background-color: #212121;
padding: 15px;
border-radius: 30px;
display: grid;
grid-template-columns: repeat(4,68px);
}
input{
grid-column: span 4;
height: 70px;
width: 260px;
background-color: #bdbdbd;
border: none;              
border-radius: 30px;
color: #212121;
font-size: 30px;
text-align: end;
margin: auto;
margin-top: 40px;
margin-bottom: 30px;
padding: 20px;
}
button{
width: 48px;
height: 48px;
background-color: #bdbdbd;
border: none;         
border-radius: 50%;   
margin: 8px;
font-size: 15px;
}
.equal{
width: 115px;
border-radius: 40px;
background-color: #bdbdbd;
}

































